@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";
@tailwind utilities;

@theme {
  --font-roboto: "Inter", sans-serif; 
}

body{
  cursor:url('./assets/delsulogo.png');
}

/* ... */

@plugin 'tailwind-scrollbar' {
    nocompatible: true;
    preferredStrategy: 'pseudoelements';
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.hover-gradient {
  background-size: 200% 200%;
  transition: all 0.5s ease;
}

.hover-gradient:hover {
  animation: gradientMove 3s ease infinite;
}
